body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#contenedor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

#contenedor label{
    display: flex;
    justify-content: center;
}

table{
    width: 40%;
    text-align: center;
    margin-top: 50px;
}

thead{
    background-color: rgba(48, 21, 148, 0.357);
    height: 50px;
    
}

td{
    height: 50px;
    font-size: large;
}

img{
    height: 100px;
}